@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');
/* font-family: 'Comfortaa', cursive; */

.nav-link {
	color:rgba(255, 255, 255, 0.9) !important;
	font-family: 'Comfortaa', cursive;
	font-size: 1.2rem;
	font-weight: bold;
}

.nav-link:hover, .nav-link:focus {
	color: rgba(120, 31, 44, 0.95) !important;
}

/*hero section*/
#hero {
	background-image: url(../img/hero.jpg);
	background-color:rgb(245, 245, 245);
	min-height:600px;
	background-repeat: no-repeat;
	background-position-x: center;
	-webkit-background-size: contain;
	background-size: contain;
	text-align: center;
	padding-top: 70px;
}

#hero h1 {
	font-family: 'Comfortaa', cursive;
	color: rgba(120, 31, 44, 0.95);
	font-weight: 700;
}

#hero h2 {
	font-family: 'Comfortaa', cursive;
	color: rgba(120, 31, 44, 0.95);
	letter-spacing: 3px;
}

/*features section*/
#features {
	padding-top: 100px;
	padding-bottom: 75px;
	text-align: center;
	font-family: 'Comfortaa', cursive;
}

.feature-item > i.fas {
	padding-bottom: 35px;
	color: rgb(235, 104, 100);
	font-size: 55px;
}

#features h3 {
	font-family: 'Comfortaa', cursive;
	color: rgb(115, 19, 16);
}

.feature-item--decoration > i {
	color: rgb(115, 19, 16);
}

/*chevron*/
#chevron {
	position: relative;
	margin-top: 35px;
	height: 65px;
}

#chevron:before {
	content: "";
	position: absolute;
	top:0;
	left:0;
	height: 100%;
	width: 50%;
	background-color: rgb(235, 104, 100);
	transform: skew(0, 3deg);
}

#chevron:after {
	content: "";
	position: absolute;
	top:0;
	right:0;
	height: 100%;
	width: 50%;
	background-color: rgb(235, 104, 100);
	transform: skew(0, -3deg);
}

/*chevron-end*/
#chevron-end {
	position: relative;
	margin-top: 35px;
	height: 65px;
}

#chevron-end:before {
	content: "";
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
	width: 50%;
	background-color: rgb(235, 104, 100);
	transform: skew(0, -3deg);
}

#chevron-end:after {
	content: "";
	position: absolute;
	top:0;
	right: 0;
	height: 100%;
	width: 50%;
	background-color: rgb(235, 104, 100);
	transform: skew(0, 3deg);
}


/*cakes & sweet sections*/
#cakes {
	/*background-color: rgba(235, 104, 100, 0.85);*/
	padding-top: 35px;
}

#sweets {
	/*background-color: rgba(235, 104, 100, 0.85);*/
	padding-top: 55px;
}


#cakes h4, #sweets h4{
	font-family: 'Comfortaa', cursive;
	color: rgb(115, 19, 16);
}

#button-showMoreCakes, #button-showMoreSweets {
	margin-top: 25px;
	margin-bottom: 25px;
	color: rgba(115, 19, 16, 0.7);
	font-weight: 300;
}

#additional-cakes, #additional-sweets {
	display: none;
	padding-right: 15px;
    padding-left: 15px;
}

/*styles for cards in sections cakes & sweets*/
.card {
	margin-top: 15px;
	font-family: 'Comfortaa', cursive;
}

.card-body {
	padding: 4px;
}

.card-footer {
	padding: 7px;
}

.card-footer > p {
	margin-bottom: 0;
}


/*reviews section*/
#reviews {
	padding-top: 50px;
	font-family: 'Comfortaa', cursive;
}

#reviews h4 {
	font-family: 'Comfortaa', cursive;
	color: rgb(115, 19, 16);
	padding-bottom: 20px;
}

#reviews blockquote {
	font-size: 1rem;
}

/*postReviews section*/
#postReviews {
	background-image:url("../img/birthday-party.jpg");
	min-height:550px;
	background-repeat: no-repeat;
	background-position-x: center;
	-webkit-background-size: contain;
	background-size: contain;
	text-align: center;
	padding-top: 500px;
	color: rgb(255, 255, 255);
	font-size: 1.5rem;
	font-family: 'Comfortaa', cursive;
	font-weight: 700;
}


/*price*/
#price {
	padding-top: 50px;
	font-family: 'Comfortaa', cursive;
	text-align:center;
}

#price h4 {
	font-family: 'Comfortaa', cursive;
	color: rgb(115, 19, 16);
	padding-bottom: 20px;
}

#price h5 {
	font-family: 'Comfortaa', cursive;
	color: rgb(235, 104, 100);
	padding: 10px;
	border-radius: 3px;
}

#price h5 > span {
	border-bottom: 2px solid rgb(235, 104, 100);
	margin-bottom: 45px;
	font-size: 0.8rem;
	color: rgb(34, 34, 34);
}

p.sale {
	color: rgb(115, 19, 16);
	padding-top: 35px;
}

#price p.sale > span {
	border-bottom: 2px solid rgb(235, 104, 100);
}

/*parallax*/
#before-parallax {
	position: relative;
	margin-top: 75px;
	height: 65px;
}

#before-parallax:before {
	content: "";
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
	width: 50%;
	background-color: rgb(230, 128, 133);
	transform: skew(0, -3deg);
	z-index:10;
}

#before-parallax:after {
	content: "";
	position: absolute;
	top:0;
	right: 0;
	height: 100%;
	width: 50%;
	background-color: rgb(230, 128, 133);
	transform: skew(0, 3deg);
	z-index:10;
}

.parallax {
    /* The image used */
    background-image: url('../img/birthday-party.jpg');
    top:-30px;

    /* Set a specific height */
    min-height: 650px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax > p {
	margin-top:100px;
	font-size: 2.5rem;

}

.parallax > p > span {
	color: rgb(120, 31, 44);
	background-color: rgba(255, 255, 225, 0.5);
	font-family: 'Comfortaa', cursive;
	font-weight: 700;
}

#after-parallax {
	position: relative;
	height: 65px;
	margin-top: -65px;
}

#after-parallax:before {
	content: "";
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
	width: 50%;
	background-color: rgb(255, 255, 255);
	transform: skew(0, 3deg);
	z-index:10;
}

#after-parallax:after {
	content: "";
	position: absolute;
	top:0;
	right: 0;
	height: 100%;
	width: 50%;
	background-color: rgb(255, 255, 255);
	transform: skew(0, -3deg);
	z-index:10;
}